* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  color: white;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

a:hover {
  transition: 0.5s;
  color: antiquewhite;
}

a:hover .icon {
  transform: scale(1.2);
  transition: 0.5s;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

body p,
h1 {
  color: white;
  margin: 0;
}

.hero-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.svg {
  width: 10rem;
  height: auto;
  fill: white;
  stroke-width: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-icon {
  position: fixed;
  left: 5rem;
  top: 1rem;
}

.logo-name {
  position: fixed;
  left: 6.4rem;
  top: 4rem;
}

.nav-list-item {
  display: flex;
  gap: 5rem;
  margin: 1rem;
  margin-right: 10rem;
}

.hero-images {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.person-img {
  width: 25rem;
  padding-bottom: 1rem;
  height: auto;
}

#vertti-img {
  height: 24rem;
}

.icon {
  transition: 0.5s;
  width: 2rem;
  height: 1rem;
  padding-bottom: 1rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.contactInfo h1,
.contactInfo a {
  color: black;
  text-align: center;
  margin-top: 1rem;
}

.section-song-list {
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers vertically if needed */
}

.song-list-container {
  width: 40rem;
  height: 20rem;
  padding-left: 3rem;
  text-align: center;
  align-items: center;
  color: white;
}

.song-list-scrollable {
  text-align: center;
  height: 15rem;
  overflow-y: auto;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #000000;
}

.song-list-scrollable::-webkit-scrollbar {
  width: 0.5rem;
}

.song-list-scrollable::-webkit-scrollbar-track {
  background: #595959;
  border-radius: 1rem;
}

.song-list-scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.song-list-scrollable::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.the-band img {
  width: 20rem;
  border-radius: 100%;
}

.the-band-person{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.the-band-person p {
  margin-top: 2rem;
}

.person-description {
  width: 40rem;
}

.contact-icon {
  text-align: center;
  color: black;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: grey;
  height: 3rem;
  padding-bottom: 1rem;
}

.photoCarousel img {
  width: 29rem;
  padding: 1rem;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

/* SLIDESHOW */

.slider-container {
  margin: 3rem;
  scroll-margin-top: 0; /* Add this */
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 0 1rem 1rem rgb(27, 27, 27);
  border-radius: 2rem;
}

.slider img {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  object-fit: cover;
  scroll-margin-top: 0; /* Add this */
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 75%;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 100%;
}
/* MOBILE */

@media (max-width: 768px) {

  .header {
    display: flex;
    justify-content: center;
    
  }

  .logo {
    position: relative;
    text-align: center;
  }

  .logo-icon {
    position: relative;
    left: 0;
    top: 1rem;
    bottom: 0;
    right: 0;
  }

  .logo-name {
    position: relative;
    left: 0rem;
    top: 2rem;
    bottom: 0;
    right: 0rem;
  }

  .heroPeople {
    text-align: center;
    margin-left: 0rem;
  }

  .hero-header {
    margin-top: 3rem;
  }

  .hero-images {
    gap: 0rem;
  }

  .section-song-list {
    width: 20rem;
  }

  .song-list-container {
    width: 100%;
    height: 300px;
  }

  .slide img {
    height: 250px;
  }

  .the-band img {
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
  }

  .carousel-btn {
    padding: 8px 12px;
    font-size: 16px;
  }
}
