* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

a:hover {
  transition: 0.5s;
  color: antiquewhite;
}

body {
  background-color: black;
}

body p {
  color: white;
}

.svg {
  width: 10rem;
  height: auto;
  fill: white;
  stroke-width: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-icon {
  position: fixed;
  left: 5rem;
}

.logo-name {
  position: fixed;
  left: 6.4rem;
  top: 4rem;
}

.nav-list-item {
  display: flex;
  gap: 4rem;
  margin: 1rem;
  margin-right: 5rem;
}

.hero-images {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.hero-images img {
  width: 25rem;
  height: 25rem;
  margin-top: 5rem;
}

.img-and-name {
  text-align: center;
}

.vince {
  box-shadow: 0rem 0rem 2rem 2rem #4c3944;
}

.vertti {
  box-shadow: 0rem 0rem 2rem 2rem #4c3944;
}

.viia {
  box-shadow: 0rem 0rem 2rem 2rem #4c3944;
}
