* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

a:hover {
  transition: 0.5s;
  color: antiquewhite;
}

body {
  background-color: black;
}

.svg {
  width: 10rem;
  height: auto;
  fill: white;
  stroke-width: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  display: flex;
  gap: 4rem;
  margin: 1rem;
}
